
@{
    ViewData["Title"] = "ViewNotification";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h1>AdminViewnotification</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">User Name</th>
            <th scope="col">User Address</th>
            <th scope="col">User Phonenumber</th>
            <th scope="col">Car Name</th>
            <th scope="col">Brand Name</th>
            <th scope="col">Starting Date</th>
            <th scope="col">Ending Date</th>
            <th scope="col">Total Amount</th>


        </tr>
    </thead>
    <tbody>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </tbody>
</table>
