@model IEnumerable<KD_Company.Models.Feedback>
@{
    ViewData["Title"] = "CarList";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Feedback</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Id</td>
                <td>@item.Email</td>
                <td>@item.FeedBack</td>
            </tr>
        }
    </tbody>
</table>
