@model IEnumerable<KD_Company.Models.CarDetails>
@{
    ViewData["Title"] = "Forlogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section courses" data-section="section4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Choose Your Car</h2>
                </div>
            </div>
           
            <div class="owl-carousel owl-theme">
                @foreach (var item in Model)
                {
                    <div class="item">
                        <img width="50" height="150" src="~/Car/@item.FileName" alt="Course #1">
                        <div class="down-content">
                            <h4>@item.CarName</h4>
                            <p>@item.Description</p>
                            @*<div class="author-image">
                                <img src=@item.FileName alt="Author 1">
                            </div*@>
                            <div class="text-button-pay">
                                <a href="Payment">View Details<i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                }



                </div>


            
        </div>
    </div>
</section>

