
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-5">
    <div class="right-content">
        <div class="top-content">
            <h6> Pls<em>Login</em> Your Account</h6>
        </div>
        <form id="contact" action="Forlogin" method="get">
            <div class="row">
                
                <div class="col-md-12">
                    <fieldset>
                        <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset>
                        <input name="password" type="text" class="form-control" id="password" placeholder="Your Password" required="">
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset>
                        <button type="submit" id="form-submit" class="button">Login</button>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>

